  ul.gradient-list > li::before, ul.gradient-list > li {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  ul.gradient-list {
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
  }
  ul.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
  }

  ul.gradient-list > li::before {
    align-items: flex-end;
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 "Montserrat";
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
  }

  ul.gradient-list > li + li {
    margin-top: 2rem;
  }